export AK_HTTP_SERVER_HOST="localhost"
export AK_HTTP_SERVER_PORT="8080"

export AK_DB_PG_USER="ak"
export AK_DB_PG_PASS="ak"
export AK_DP_PG_SCHEMA="ak"
export AK_DP_PG_DATABASE="ak"
export AK_DB_PG_PORT="5432"
export AK_DB_PG_SSL="false"
